<?xml version='1.0' encoding='utf-8'?>
<widget id="org.sahanafoundation.EdenMobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EdenMobile</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="sahana-eden@googlegroups.com" href="http://eden.sahanafoundation.org">
        Sahana Eden Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
              <icon src="www/res/icon/sahana_icon_36x36.png" density="ldpi" />
              <icon src="www/res/icon/sahana_icon_48x48.png" density="mdpi" />
              <icon src="www/res/icon/sahana_icon_72x72.png" density="hdpi" />
              <icon src="www/res/icon/sahana_icon_96x96.png" density="xhdpi" />
     </platform>     
</widget>
